img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

a {
    color: #035581;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.ds-test-table {
    display: block;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #e5e5e5;
    
    table {
        width: 100%;
        border-collapse: collapse;
        border: 0 none;

        //width: 100%;
    
        th,
        td {
            white-space: nowrap;
        }
    
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
        }
    
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 3px solid #fff;
            background-color: rgba(0, 0, 0, .3);
        }
    
        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            overflow-x: hidden;
            overflow-y: hidden;
            border: 0 none;
    
            th,
            td {
                white-space: normal;
            }
        }

        th {
            text-align: left;
            font-size: 0.75rem;
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 12px 30px;

            &.sortable {
                &:hover {
                    cursor: pointer;
                }

                &::after {
                    display: inline-block;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                }
            }

            &.active {

                color: #035581;
                
                &::after {
                    content: "\f0d8";
                    margin-left: 7px;
                }
            }

            &.asc {
                &::after {
                    content: "\f0d7";
                }
            }
        }

        td {
            padding: 10px 30px;
            border-bottom: 1px solid #e5e5e5;
            font-size: 0.875rem;
        }

        tr {
            &:nth-child(even) {
                
                td {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}